# Configuration file supporting multiple builds with flexible segment configurations
# Global settings that apply to all builds
# Specify the column name for the field in your metadata file that contains the unique
# ID for each sequence. This is used by augur subsample to match sequences to their metadata
strain_id_field: strain

# Define multiple builds
builds:
  # Build 1: HA segment only
  # Output: auspice/h5n1-ha-only.json
  h5n1-ha-only:
    subtype: h5n1
    segments:
      - ha
    files:
      reference_files: "config/{subtype}/reference_h5n1_{segment}.gb"
      sequences: "test_data/fasta/{segment}_sequences.fasta"
      metadata: "test_data/metadata/merged_metadata.tsv"
      include: "test_data/includes.txt"
      exclude: "test_data/excludes.txt"
      colors: "config/{subtype}/colors_h5n1-franklin-county-outbreak.tsv"
      auspice_config: "config/{subtype}/auspice_config_h5n1-franklin-county-outbreak.json"
    subsample:
      defaults:
        exclude_ambiguous_dates_by: year
      samples:
        state:
          query: division == 'Washington'
          max_sequences: 100
          min_date: "2020-01-01"

  # Build 2: NA only
  # Output: auspice/h5n1_na_only.json
  h5n1_na_only:
    subtype: h5n1
    segments:
      - na
    files:
      reference_files: "config/{subtype}/reference_h5n1_{segment}.gb"
      sequences: "test_data/fasta/{segment}_sequences.fasta"
      metadata: "test_data/metadata/merged_metadata.tsv"
      include: "test_data/includes.txt"
      exclude: "test_data/excludes.txt"
      colors: "config/{subtype}/colors_h5n1-franklin-county-outbreak.tsv"
      auspice_config: "config/{subtype}/auspice_config_h5n1-franklin-county-outbreak.json"
    subsample:
      defaults:
        exclude_ambiguous_dates_by: year
      samples:
        pacific_northwest:
          query: division in ['Washington', 'Oregon', 'Idaho']
          max_sequences: 300
          min_date: "2020-01-01"

  # Build 3: Whole genome (all 8 segments)
  # Output: auspice/h5n1-whole-genome.json
  h5n1-whole-genome:
    subtype: h5n1
    segments:
      - pb2
      - pb1
      - pa
      - ha
      - np
      - na
      - mp
      - ns
    files:
      reference_files: "config/{subtype}/reference_h5n1_{segment}.gb"
      sequences: "test_data/fasta/{segment}_sequences.fasta"
      metadata: "test_data/metadata/merged_metadata.tsv"
      include: "test_data/includes.txt"
      exclude: "test_data/excludes.txt"
      colors: "config/{subtype}/colors_h5n1-franklin-county-outbreak.tsv"
      auspice_config: "config/{subtype}/auspice_config_h5n1-franklin-county-outbreak.json"
    subsample:
      defaults:
        exclude_ambiguous_dates_by: year
      samples:
        # Primary focus: Pacific Northwest
        pacific_northwest:
          query: division in ['Washington', 'Oregon', 'Idaho']
          max_sequences: 250
          min_date: "2020-01-01"
        # Context: Other western states
        western_context:
          query: division in ['California', 'Nevada', 'Montana', 'Wyoming']
          max_sequences: 1000
          min_date: "2020-01-01"
        # Broader context: Rest of USA
        national_context:
          query: country == 'USA' and division not in ['Washington', 'Oregon', 'Idaho', 'California', 'Nevada', 'Montana', 'Wyoming']
          max_sequences: 1000
          min_date: "2020-01-01"
